<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Citi Sprint 4</title>
</head>
<body>
<h1 class="my-5 text-center font-weight-bold">Citi Sprint 4</h1>
<div class="div-fields col-6 m-auto d-flex">

    <button class="req-buttons w-50 mr-2">
Get
    </button>
    <button class="req-buttons w-50 ml-2 ">
Post
    </button>
</div>

</body>
</html>
<style>
    header{
    margin-top: 30px;
    font-size: 45px;
    text-align: center;
    }
    .req-buttons{
    font-size:25px;
     text-transformation: uppercase;
     font-weight:bold;
     border-radius: 20px;
    }

</style>